
<div class="container-fluid">
    <div class="row-fluid">
        <div id="footer" class="span12">
            2017 &copy; 手书. </div>
    </div>
</div>
</div>


<script src="/static/js/excanvas.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.flot.min.js"></script>
<script src="/static/js/jquery.flot.resize.min.js"></script>
<script src="/static/js/jquery.peity.min.js"></script>
<script src="/static/js/fullcalendar.min.js"></script>
<script src="/static/js/unicorn.js"></script>
<script src="/static/js/unicorn.dashboard.js"></script>
</body>
</html>