<!DOCTYPE html>
<html lang="en">
<!-- container-fluid -->
<head>
    <title>后台管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/css/fullcalendar.css" />
    <link rel="stylesheet" href="/static/css/unicorn.main.css" />
    <link rel="stylesheet" href="/static/css/unicorn.grey.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>


<div id="header">
    <h1><a href="#">手书</a></h1>
</div>
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav btn-group">
        <li class="btn btn-inverse"><a title="" href="javascript:void(0)"><i class="icon icon-user"></i> <span class="text">{%$sess_data.name%}</span></a></li>
        <li class="btn btn-inverse"><a title="" href="/home/logout"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
    </ul>
</div>
{%include file="../public/left.html"%}
