<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="/static/home/css/index.css"/>
    <script src="http://cdn.iyaoread.com/iyaoread/read/js/jquery.js"></script>
</head>
<body>
<section>
    <div class="word_box">
        <div style="position: relative;height: 38px">
            <div class="word_left">玫</div>
            <div class="word_right">
                <p>书写辙：刘春风</p>
                <!--<div class="word_flex">
                    <span>[mei]</span>
                    <span> 部首：<span>王</span></span>
                    <span> 笔画：<span>8</span></span>
                </div>-->
            </div>
            <!--<div class="word_after">
                <span class="word_before">注释</span>
            </div>-->
            <div class="clear"></div>
        </div>
        <div class="zhus_ceng">
            <p>[!馈]a美玉；b.洛儿光幕；c.啊快点佳好佳的哈刷卡机好实打实第三方 </p>
            <h3>组词：玫瑰</h3>
        </div>
    </div>
    <div class="slideBox">
        <ul>
            <li><img src="/static/home/img/word_img.png" alt="" /></li>
        </ul>
        <div class="spanBox" style="display:none">
            <span class="active">q</span>
            <span>a</span>
            <span>z</span>
            <span>w</span>
            <span>s</span>
        </div>
        <div class="prev" style="display: none"></div>
        <div class="next"></div>
    </div>

    <div class="word_structure">
        <ul>
            <li>
                <img src="/static/home/img/word.png" alt=""/>
                <div class="word_text">庞正华字体</div>
            </li>
            <li>
                <img src="/static/home/img/word.png" alt=""/>
                <div class="word_text">庞正华字体</div>
            </li>
            <li>
                <img src="/static/home/img/word.png" alt=""/>
                <div class="word_text">庞正华字体</div>
            </li>
            <li style="margin: 0">
                <img class="share_img" src="/static/home/img/fenx.png" alt=""/>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="word_analysis">
        <div class="word_analysis_box">
            <div class="word_analysis_img"></div>
            <h3>结构解析</h3>
            <div class="lising_word"></div>
            <div class="clear"></div>
        </div>
        <div  class="word_analysis_content">
            <p><strong>王字旁：</strong>写的瘦一些，位置居于反文旁的中部。起笔快速缺如直面。最后的提，要出风，但却机出风太长</p>
            <p><strong>王字旁：</strong>写的瘦一些，位置居于反文旁的中部。起笔快速缺如直面。最后的提，要出风，但却机出风太长</p>
            <p><strong>王字旁：</strong>写的瘦一些，位置居于反文旁的中部。起笔快速缺如直面。最后的提，要出风，但却机出风太长</p>
        </div>
    </div>
    <!--<div class="word_analysis">
        <div class="word_analysis_box">
            <div class="word_analysis_img"></div>
            <h3>联想</h3>
            <div class="clear"></div>
        </div>
        <div  class="word_analysis_content">
            <p><strong>相似结构：</strong>攻&nbsp;&nbsp;攻</p>
            <p><strong>王字旁：</strong>&nbsp;&nbsp;&nbsp;&nbsp;攻&nbsp;&nbsp;攻</p>
            <p><strong>反文旁：</strong>&nbsp;&nbsp;&nbsp;&nbsp;攻&nbsp;&nbsp;攻</p>
        </div>
    </div>-->
    <div class="word_analysis">
        <div class="word_beginner"></div>
        <h2>初学者  正确的握笔姿势详解</h2>
        <div class="word_beginner_img"></div>
        <div class="clear"></div>
    </div>
    <div class="word_analysis">
        <div class="word_analysis_box">
            <div class="word_analysis_img"></div>
            <h3>他的别的字</h3>
            <div class="clear"></div>
        </div>
        <div class="word_analysis_content">
            <div style="position: relative;">
                <div class="word_slide">
                    <ul>
                        <li><a href=""><img src="/static/home/img/slide.png" alt=""/></a></li>
                        <li><a href=""><img src="/static/home/img/slide.png" alt=""/></a></li>
                        <li><a href=""><img src="/static/home/img/slide.png" alt=""/></a></li>
                        <li><a href=""><img src="/static/home/img/slide.png" alt=""/></a></li>
                        <li><a href=""><img src="/static/home/img/slide.png" alt=""/></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="position_bottom"></div>
            </div>
            <div class="zs_btn">
                <a>赞赏</a>
                <p>打赏林志秀</p>
                <div class="portrait_img">
                    <img src="/static/home/img/phonrimg.png" alt=""/>
                    <img src="/static/home/img/phonrimg.png" alt=""/>
                    <img src="/static/home/img/phonrimg.png" alt=""/>
                    <img src="/static/home/img/phonrimg.png" alt=""/>
                    <img src="/static/home/img/phonrimg.png" alt=""/>
                    <img src="/static/home/img/phonrimg.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="word_analysis">
        <div class="word_analysis_box">
            <h3 style="left: 2px">评论（23）</h3>
            <a href=""><div class="comment_img"></div></a>
            <div class="clear"></div>
        </div>
        <div class="content_author">
            <div class="content_author_img">
                <div class="content_author_left">
                    <div class="content_author_left_img">
                        <img src="/static/home/img/title.png" alt=""/>
                    </div>
                    <div class="content_author_left_text">韩昌衡</div>
                </div>
                <div class="content_author_right">
                    <div class="content_author_right_text">(100)</div>
                    <div class="content_author_right_img">
                        <img src="/static/home/img/zan.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="content_subject">
                <img src="/static/home/img/pingl.png" alt=""/>
                <div class="content_subject_text">给我一个赞我会加油的啊开机速度很快就asdasd阿斯顿阿斯顿阿三打算倒萨 </div>
            </div>
        </div>
        <div class="separate"></div>
        <div class="content_author">
            <div class="content_author_img">
                <div class="content_author_left">
                    <div class="content_author_left_img">
                        <img src="/static/home/img/title.png" alt=""/>
                    </div>
                    <div class="content_author_left_text">韩昌衡</div>
                </div>
                <div class="content_author_right">

                    <div class="content_author_right_text">(100)</div>
                    <div class="content_author_right_img">
                        <img src="/static/home/img/zan.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="content_subject">
                <img src="/static/home/img/pingl.png" alt=""/>
                <div class="content_subject_text">给我一个赞我会加油的啊开机速度很快就asdasd阿斯顿阿斯顿阿三打算倒萨 </div>
            </div>
        </div>
        <div class="separate"></div>
        <div class="content_more">查看更多</div>
    </div>-->
    <div class="qr_code">
        <div class="qr_code_img">
            <img src="/static/home/img/qrcode.png" alt=""/>
        </div>
        <div class="qr_code_separate"></div>
        <div class="qr_code_right">
            <div class="qr_code_rigt_text">手书</div>
            <div class="qr_code_rigt_text1">
                <p>服务于13亿写汉字的人</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<div class="reward_float">
    <div class="reward_float_box">
        <div class="reward_float_img">
            <img src="/static/home/img/Oval-8_01.png" alt=""/>
            <div class="reward_close_btn"><img src="/static/home/img/close.png" alt=""/></div>
            <div class="reward_photo_img">
                <div class="reward_photo_img_box">
                    <img src="/static/home/img/slide.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="reward_float_bottom">
            <p>打赏赵四</p>
            <div class="reward_float_flex">
                <span>￥2</span>
                <span>￥5</span>
                <span>￥10</span>
            </div>
            <div class="reward_float_flex">
                <span>￥20</span>
                <span>￥50</span>
                <span>￥100</span>
            </div>
            <a class="other_btn" href="">其他金额</a>
            <p class="zhu_shi">注：系统会收取0.6%的手续费</p>
            <div class="more"></div>
        </div>
    </div>
</div>
<div class="share_float">
    <div class="share_float_box">
        <div class="reward_float_img">
            <img src="/static/home/img/Group-30_01.png" alt=""/>
            <div class="share_close_btn"><img src="/static/home/img/close.png" alt=""/></div>
        </div>
        <div class="share_float_bottom">
            <p>1.你可以分享你写的字，通过审核后，它将显示在列表里被更多人看到，并为别人提供有价值的参考</p>
            <p>2.你获得的打赏将全部存入你的账户。</p>
            <a href="">好的</a>
        </div>
    </div>
</div>
<script>
    function sonclick(){
        if($(this).hasClass("open")){
            $(".zhus_ceng").slideUp("200");
            $(this).removeClass('open');
        }else{
            $(".zhus_ceng").slideDown("200");
            $(this).addClass('open');
        }
    }
    $(".reward_close_btn").click(function(){
        $(".reward_float").hide();
    });
    $(".zs_btn a").click(function(){
        $(".reward_float").show();
    });
    $(".share_close_btn").click(function(){
        $(".share_float").hide();
    });
    $(".share_img").click(function(){
        $(".share_float").show();
    });
    var a = $(".word_img ul li img").height();
    $(".word_img ul").height(a);
    $(".word_before").bind('click',sonclick);
    var liwidth = $('.word_slide ul li').width()+13;
    var lilength = $('.word_slide ul li').length;
    var month =liwidth*lilength+"px";
    $(".word_slide ul").css("width",month);
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var slideBox = $(".slideBox");
        var ul = slideBox.find("ul");
        var oneWidth = slideBox.find("ul li").eq(0).width();
        var number = slideBox.find(".spanBox span");            //注意分号 和逗号的用法
        var timer = null;
        var sw = 0;
        //每个span绑定click事件，完成切换颜色和动画，以及读取参数值
        number.on("click",function (){
            console.log(number);
            $(this).addClass("active").siblings("span").removeClass("active");
            sw=$(this).index();
            ul.animate({
                "right":oneWidth*sw    //ul标签的动画为向左移动；
            });
        });
        //左右按钮的控制效果
        $(".next").stop(true,true).click(function (){
            sw++;
            if(sw==number.length){sw=0};
            number.eq(sw).trigger("click");
        });
        $(".prev").stop(true,true).click(function (){
            sw--;
            if(sw==number.length){sw=0};
            number.eq(sw).trigger("click");
        });
        //定时器的使用，自动开始
        timer = setInterval(function (){
            sw++;
            if(sw==number.length){sw=0}
            number.eq(sw).trigger("click");
        },2000);
        //hover事件完成悬停和，左右图标的动画效果
        slideBox.hover(function(){
            $(".next,.prev").animate({
                "opacity":1
            },200);
            clearInterval(timer);
        },function(){
            $(".next,.prev").animate({
                "opacity":0.5
            },500);
            timer = setInterval(function (){
                sw++;
                if(sw==number.length){sw=0}
                number.eq(sw).trigger("click");
            },2000);
        })

    });
    var wi = $(".slideBox").width();
    $(".slideBox ul li").width(wi);
    $(".slideBox ul li img").width();
    var ulheoght =  $(".slideBox ul li img").height();
    $(".slideBox").height(ulheoght);
    var wiheight = $(".slideBox").height()/2-15;
    $(".next").css('top',wiheight);

</script>
</body>
</html>
